body {
  font-family: 'Roboto', sans-serif; }

.container-fluid {
  padding: 0 0 0 0; }

.navbar-brand {
  padding: 0px; }

.navbar-brand > img {
  width: 100%;
  padding: 15px;
  width: auto; }

.navbar-collapse.in {
  background: #2A3133;
  border-color: transparent; }

.content {
  width: 550px; }

.navbar-default {
  background: #2A3133;
  height: 100px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  border-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    color: orange;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px 0 0 0; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #647CBF; }

.menu {
  margin: 0 0 0 300px;
  text-transform: uppercase; }
  .menu a {
    display: inline;
    color: orange;
    text-decoration: none; }
  .menu a:hover {
    color: #4860ac; }

.call-to-action {
  background-size: cover;
  background-image: url(../IMG/bastion-images/1408083032113_Bastion_112010_0002.jpg);
  background-position: center;
  height: 600px;
  margin: 0 auto; }

.call-to-action-2 {
  background-size: cover;
  background-image: url(../IMG/BG_ending.jpg);
  background-position: bottom;
  height: 450px;
  margin: 0 auto; }

.call-center {
  text-align: center;
  padding: 250px 0 0 50px;
  position: relative; }
  .call-center h1 {
    text-align: center;
    margin: 80px 0 20px 0;
    font-size: 40px;
    color: white;
    text-transform: uppercase; }

.call-center-2 {
  text-align: center;
  padding: 50px 0 0 50px;
  position: relative; }
  .call-center-2 h1 {
    text-align: center;
    margin: 80px 0 20px 0;
    font-size: 40px;
    color: white;
    text-transform: uppercase; }

.semeie {
  margin: 50px auto; }

.game {
  display: inline-block;
  text-align: center; }
  .game img {
    width: 200px;
    height: 200px;
    margin: 50px 0 20px 0; }
  .game h3 {
    color: #2A3133;
    text-transform: uppercase;
    font-weight: 800;
    margin: 15px 0 50px 0; }

.people {
  width: 100%; }

.staff {
  display: inline-block;
  padding: 0 5px; }

.games h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: orange; }

.games h2::after {
  content: "";
  display: block;
  margin: 10px 0;
  width: 50px;
  height: 3px;
  background-color: orange; }

.games h3 {
  color: #647CBF;
  font-size: 30px;
  text-transform: uppercase; }

.modulo {
  background-color: #f8f8f8;
  margin: 20px 0;
  padding: 50px 0; }
  .modulo h3 {
    color: #647CBF;
    font-size: 30px;
    text-transform: uppercase; }

.semeie {
  background-color: #f8f8f8;
  margin: 0px 0;
  padding: 50px 0; }
  .semeie h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: orange; }
  .semeie h2::after {
    content: "";
    display: block;
    margin: 10px 0;
    width: 50px;
    height: 3px;
    background-color: orange; }
  .semeie h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: orange; }
  .semeie h4 {
    text-align: center; }

.semeietech {
  background-color: gray;
  height: 400px; }

.semeie-core {
  width: 960px;
  margin: 0 auto;
  display: block;
  position: relative; }
  .semeie-core p {
    width: 490px;
    top: 50%;
    position: absolute;
    margin: 0;
    display: inline-block;
    transform: translate(0, -50%);
    padding: 0  0  0  380px; }

.semeie-logo {
  display: inline-block;
  float: right; }

footer {
  background-color: #2A3133;
  display: block;
  margin: 0 auto; }
  footer h2 {
    padding: 50px;
    color: orange; }

.coluna {
  margin: 0px auto;
  text-align: center; }
  .coluna h2 {
    text-transform: uppercase; }
  .coluna h3 {
    color: white;
    text-transform: uppercase;
    text-align: center; }
  .coluna ul li {
    margin: 20px auto; }
  .coluna ul li a {
    font-weight: 400;
    color: white;
    text-transform: uppercase; }
  .coluna ul {
    padding: 0 0 0 0; }

.fa {
  font-size: 30px;
  color: white; }

.icons {
  width: 30px;
  height: 30px; }

.copy {
  color: white; }

.draw-border {
  box-shadow: inset 0 0 0 4px #fff;
  color: #fff;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: orange;
    background-color: rgba(0, 0, 0, 0.2); }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: orange;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.draw-border-2 {
  box-shadow: inset 0 0 0 4px #647CBF;
  color: #647CBF;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border-2::before, .draw-border-2::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border-2::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border-2::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border-2:hover {
    color: orange;
    background-color: rgba(0, 0, 0, 0.2); }
    .draw-border-2:hover::before, .draw-border-2:hover::after {
      border-color: orange;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border-2:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border-2:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 2.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  align-content: center; }
  .btn:focus {
    outline: 2px dotted #55d7dc; }

.btn-2 {
  background: #647CBF;
  color: white;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 2.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  align-content: center;
  border-radius: 3px; }
  .btn-2:focus {
    outline: 2px dotted #55d7dc; }
  .btn-2:hover {
    background: orange;
    color: #647CBF; }
